<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.reggie.mapper.DishFlavorMapper">
    <insert id="saveFlavor" parameterType="java.util.List">
        insert into dish_flavor (id,dish_id,name,value,create_time,create_user,update_time,update_user)
        values
        <foreach collection="list" item="flavor" separator=",">
            (#{flavor.id},#{flavor.dishId}, #{flavor.name}, #{flavor.value},#{flavor.createTime},#{flavor.createUser},#{flavor.updateTime},#{flavor.updateUser})
        </foreach>
    </insert>
</mapper>